<log4net>
    <!-- AllLogs is set to be a RollingFileAppender -->
    <appender name="AllLogs" type="log4net.Appender.RollingFileAppender">
      <file value="_logs\logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMdd" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

  <!-- Set root logger level to ALL and its only appender to AllLogs -->
    <root>
        <level value="ALL" />
        <appender-ref ref="AllLogs" />
    </root>
</log4net>